#basic{
    stroke: var(--tertiary-color);
    stroke-dasharray: 400;
    stroke-dashoffset: 0;
}
#animateHover{
    stroke: var(--tertiary-color);
    stroke-dasharray: 400;
    stroke-dashoffset: 0;
    animation: hoverAnim 2s ease-in-out;
}
@keyframes hoverAnim {
    0%{
        stroke-dashoffset: 400;
    }
    100%{
        stroke-dashoffset: 0;
    }
}